.audio-container {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  bottom: 0;
  width: 95vw;
  color: white;
  text-align: center;
  padding: 10px;
}

audio {
  opacity: 0.6;
  width: 200px;
  height: 30px;
}
