.title-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 550px;
}

.title-container img {
  width: 500px;
}
.title-container p {
  color: white;
  text-align: center;
  margin: 0;
}
