.title-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 550px;
}

.title-container img {
  width: 500px;
  opacity: 0.8;
}
.title-container p {
  color: var(--color-4);
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.about-btn {
  font-size: 2rem;
  color: var(--color-4);
  font-family: 'indie flower', sans-serif;
  text-decoration: none;
}

.about-btn:hover {
  color: var(--color-3);
  cursor: pointer;
  text-decoration: underline;
}

.about-us {
  margin: 50px;
}
