.post {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  margin: auto;
  background-color: rgb(201, 173, 166, 0.4);
  width: 50vw;
  align-items: center;
  text-align: center;
}

.post h1 {
  font-size: 3rem;
  font-family: 'indie flower', sans-serif;
  font-weight: 400;
  color: var(--color-5);
  margin: 0;
}

.post p {
  color: var(--color-4);
}

.post-content {
  padding: 3rem;
  margin: 3px auto 10px auto;
  border-radius: 3rem;
  font-family: 'roboto mono', sans-serif;
  background-color: rgb(201, 173, 166, 0.4);
  width: 40vw;
  text-align: center;
}

.post-buttons-container {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  width: 600px;
}

.post-button {
  font-size: 1.5rem;
  color: var(--color-4);
  align-self: center;
  text-decoration: none;
  transition: 0.45s;
  padding: 16px;
  background-color: transparent;
}

.post-button:hover {
  background-color: rgb(201, 173, 166, 0.4);
  border-radius: 1.5rem;
  cursor: pointer;
}

.button-link {
  text-decoration: none;
  color: var(--color-4);
}
