.preview-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  margin: 10px;
  background-color: rgb(201, 173, 166, 0.4);
  width: 50vw;
  align-items: center;
}
.preview-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-family: 'indie flower', sans-serif;
  font-weight: 400;
  font-display: swap;
}

.content {
  padding: 3rem;
  margin: 3px auto 30px auto;
  border-radius: 3rem;
  font-family: 'roboto mono', sans-serif;
  background-color: rgb(201, 173, 166, 0.4);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40vw;
  text-align: center;
}

.title-link {
  color: var(--color-5);
  text-decoration: none;
}

.title-link:hover {
  color: var(--color-3);
}

.content p {
  margin-bottom: 0;
}
.content a {
  color: var(--color-5);
}

.content a:hover {
  color: var(--color-2);
}
