.preview-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  margin: 10px;
  background-color: rgba(242, 233, 228, 0.2);
  width: 50vw;
  align-items: center;
}
.preview-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-family: 'indie flower', sans-serif;
  font-weight: 400;
  font-display: swap;
  /* color: var(--color-5); */
}

.content {
  padding: 3rem;
  margin: 3px auto 30px auto;
  border-radius: 3rem;
  font-family: 'roboto mono', sans-serif;
  background-color: rgb(255, 255, 255, 0.5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 35vw;
  text-align: center;
}

.click-post {
  color: #fefefe;
  text-decoration: none;
}

.click-post:hover {
  color: blanchedalmond;
  width: fit-content;
}
