.header-links {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.header-links a {
  font-size: 2rem;
}

.header-links span {
  display: flex;
  width: 250px;
  justify-content: space-between;
}
