header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

header h2 {
  font-size: 2.2rem;
  font-family: 'indie flower', sans-serif;
  font-weight: 400;
  color: var(--color-4);
  margin: 0;
}

.header-button {
  font-size: 1.5rem;
  color: var(--color-4);
  align-self: center;
  text-decoration: none;
  transition: 0.45s;
  padding: 16px;
  background-color: transparent;
}

.header-button:hover {
  background-color: rgb(201, 173, 166, 0.4);
  border-radius: 1.5rem;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
