.about-nav {
  display: flex;
  margin: 50px auto;
  justify-content: center;
}

.home-btn {
  font-size: 3rem;
  color: var(--color-4);
  font-family: 'indie flower', sans-serif;
  text-decoration: none;
}

.home-btn:hover {
  color: var(--color-3);
  cursor: pointer;
  text-decoration: underline;
}

.cards-container {
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  width: 200px;
  height: 200px;
  margin-top: 2rem;
  object-fit: contain;
  border-radius: 3rem;
}

.link-img {
  width: 2.25em;
  height: 2.25em;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(201, 173, 166, 0.4);
  color: var(--color-5);
  width: 400px;
  height: 500px;
  border-radius: 3rem;
}
