/* .home-btn {
  font-size: 2rem;
  color: white;
  align-self: center;
  text-decoration: none;
  margin-left: 50px;
  transition: 0.45s;
}

.home-btn.active {
  background-color: var(--color-4);
  padding: 16px 32px;
  border-radius: 1.5rem;
}

.home-btn:hover {
  background-color: var(--color-4);
  padding: 16px 32px;
  border-radius: 1.5rem;
  cursor: pointer;
} */

.home-btn {
  font-size: 1.5rem;
  color: var(--color-5);
  align-self: center;
  text-decoration: none;
  margin-left: 50px;
  transition: 0.45s;
  padding: 16px 32px;
  background-color: transparent;
}

.home-btn:hover {
  background-color: var(--color-4);
  border-radius: 1.5rem;
  cursor: pointer;
}

.about-cards {
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-top: 2rem;
}

.link-img {
  width: 2.25em;
  height: 2.25em;
}

.link-img:hover {
  cursor: pointer;
}

.ryssa-card {
  background-color: var(--color-4);
  width: 400px;
  height: 400px;
  border-radius: 1rem;
}
.ian-card {
  background-color: var(--color-4);
  width: 400px;
  height: 400px;
  border-radius: 1rem;
}
.mira-card {
  background-color: var(--color-4);
  width: 400px;
  height: 400px;
  border-radius: 1rem;
}
.indy-card {
  background-color: var(--color-4);
  width: 400px;
  height: 400px;
  border-radius: 1rem;
}
