.post-form {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  margin: auto;
  background-color: rgb(201, 173, 166, 0.4);
  width: 50vw;
  align-items: center;
  padding-bottom: 30px;
}

.post-form h1 {
  font-size: 3rem;
  font-family: 'indie flower', sans-serif;
  font-weight: 400;
  color: var(--color-5);
  margin: 0;
}

textarea {
  margin: 10px;
  width: 500px;
  height: 100px;
  resize: vertical;
  font-size: 1.5rem;
  width: 35vw;
  border-radius: 1.5rem;
  border: 0;
  padding: 10px;
  font-size: 1rem;
  background-color: rgb(201, 173, 166, 0.4);
}

textarea::placeholder {
  color: var(--color-1);
}
input {
  width: 500px;
  margin: 10px;
  width: 35vw;
  border-radius: 3rem;
  padding: 10px;
  border: 0;
  background-color: rgb(201, 173, 166, 0.4);
}

input::placeholder {
  color: var(--color-1);
}

.edit-button {
  font-size: 1.5rem;
  color: var(--color-4);
  align-self: center;
  text-decoration: none;
  transition: 0.45s;
  padding: 10px;
  background-color: rgb(201, 173, 166, 0.4);
}

.edit-button:hover {
  background-color: rgb(201, 173, 166, 0.8);
  color: var(--color-1);
  border-radius: 1.5rem;
  cursor: pointer;
}

label {
  margin-left: 10px;
}
