@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Gamja+Flower&family=Indie+Flower&family=Roboto+Mono&family=Swanky+and+Moo+Moo&display=swap');

.App {
  text-align: center;
}
body {
  background-image: url(https://ipvfiyhmiwmzfnzlbhov.supabase.in/storage/v1/object/public/unspoken/mdhtYbe.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

button {
  border: 0;
  margin: 5px;
  background-color: rgba(242, 233, 228, 0.3);
  color: white;
  border-radius: 3rem;
  padding: 2px 10px 2px 10px;
}
* {
  --color-1: #22223b;
  --color-2: #4a4e69;
  --color-3: #f2aa18;
  --color-4: #c9ada7;
}
