@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Gamja+Flower&family=Indie+Flower&family=Roboto+Mono&family=Swanky+and+Moo+Moo&display=swap');
* {
  font-family: 'Roboto mono', sans-serif;
  --color-1: rgb(34, 34, 59);
  --color-2: rgb(20, 30, 47);
  --color-3: rgb(242, 170, 24);
  --color-4: rgb(201, 173, 166);
  --color-5: rgb(231, 213, 209);
}

body {
  background-image: url(https://ipvfiyhmiwmzfnzlbhov.supabase.in/storage/v1/object/public/unspoken/mdhtYbe.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(5, 5, 18);
}

button {
  border: 0;
  margin: 5px;
  background-color: rgba(242, 233, 228, 0.3);
  color: white;
  border-radius: 3rem;
  padding: 2px 10px 2px 10px;
}
