.auth-tabs {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.auth-tabs h3 {
  font-size: 2rem;
  color: var(--color-4);
  opacity: 0.5;
  font-family: 'indie flower', sans-serif;
  align-self: center;
  text-decoration: none;
  transition: 0.45s;
}

.auth-tabs h3.active {
  color: var(--color-3);
  text-decoration: underline;
  cursor: pointer;
}

h3:hover {
  color: var(--color-3);
  text-decoration: underline;
  cursor: pointer;
}
