.auth-tabs {
  display: flex;
  justify-content: space-evenly;
}

.auth-tabs h3 {
  font-size: 2rem;
  color: white;
  align-self: center;
  text-decoration: none;
  margin-left: 50px;
  transition: 0.45s;
}

.auth-tabs h3.active {
  background-color: var(--color-4);
  padding: 16px 32px;
  border-radius: 1.5rem;
}

h3:hover {
  background-color: var(--color-4);
  padding: 16px 32px;
  border-radius: 1.5rem;
  cursor: pointer;
}
